.gfTreeItem {
    width: auto;
    padding: 0.6em;
    background: #EBEFE7;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #CCC;
    display: flex;
    flex-direction: row;
}

.gfTreeItem:hover {
    background: #89bd00;
    color: #FFF;
    cursor: pointer;
}

.gfTreeContent-Icon {
    width: 1em;
    height: 1em;
    padding-right: 5px;
    /*flex: 1;*/
}
.gfTreeContent-Text{
    flex: 9;
}

.gfTreeToolbar{
    width: auto;    
    background: #EBEFE7;
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-color: #CCC;
    display: flex;
    flex-direction: row;
}
.gfTreeToolbar-Icon{
    width: 20px;
    height: 20px;
    padding: 0.4em 0.6em;
}

.gfTreeSearchContainer{
    display: none;    
}
.gfTreeSearchInput{
    padding: 0;
    margin: 0;
    height: 35px;
    text-align: center;
    width: 98.5%;
}